/* Footer.css */
.footer {
  width: 73%;
  height:5%;
  background-color: #424141;
  color: white;
  text-align: center;
  padding: 30px 0;
  position: relative;
  bottom: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: adds depth */
  border-radius: 5px; /* Optional: for rounded corners */
    box-sizing: border-box;
}

.footer-content p {
  margin: 0;
  padding: 5px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .footer-content p {
    font-size: 14px;
  }
}
